@using proyectoCCharPropio.DTOS;
@model proyectoCCharPropio.Controllers.AdministracionControlador.ModeloCreacion;
@{
    ViewData["Title"] = "Inicio de sesión - Registrar Usuario - Recupera contraseña";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog-Z Photo Detail Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ccs/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <!--Script Para la alerta-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        var mensajeAlerta = '@TempData["MensajeAlerta"]';
        var tipo = '@TempData["Tipo"]';
        var icono = '@TempData["Icono"]';
        var titulo = '@TempData["Titulo"]';

        function mostrarAlertaPersonalizada() {
            if (icono == "check") {
                icono = '<i class="fas fa-check" style="font-size: 1em;"></i>';
            }
            else {
                icono = '<i class="fas fa-times" style="font-size: 1em;"></i>'
            }
            Swal.fire({
                icon: tipo,
                title: titulo,
                text: mensajeAlerta,
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK',
                iconHtml: icono,  // Ajusta el tamaño según sea necesario
            });
        }
    </script>
    <script>
        var mostrarAlerta = '@TempData["MostrarAlerta"]';
        console.log('Valor de mostrarAlerta:', mostrarAlerta);

        if (mostrarAlerta && mostrarAlerta.toLowerCase() === 'true') {
            console.log('Mostrando la alerta');
            mostrarAlertaPersonalizada();
        }
    </script>
    <!---->
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Home", "RegistroControlador")">
                <img class="logo" src="/img/logo.png" alt="Imagen de Usuario">
                <span class="text-white">SystemRevive</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-1" aria-current="page" href="@Url.Action("Home", "RegistroControlador")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="@Url.Action("modificarPerfil", "RegistroControlador")">
                            <div class="user-info-container d-flex align-items-center">

                                @if (Model.Usuario.Foto_usuario != null && Model.Usuario.Foto_usuario.Length > 0)
                                {
                                    // Convertir el array de bytes a cadena Base64
                                    var imagenBase64 = Convert.ToBase64String(Model.Usuario.Foto_usuario);

                                    // Mostrar la imagen usando la cadena Base64 en la etiqueta <img>
                                    <img class="rounded-circle user-avatar" src="data:image/png;base64,@imagenBase64" alt="Imagen de Usuario">
                                }
                                else
                                {
                                    // Mostrar una imagen predeterminada si el array de bytes es nulo o vacío
                                    <img class="rounded-circle user-avatar" src="https://definicion.de/wp-content/uploads/2019/07/perfil-de-usuario.png" alt="Imagen de Usuario">
                                }
                                
                                <span class="ml-2 text-white">Perfil</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/img/hero.jpg">
        <form class="d-flex tm-search-form">
            <h2 class="text-white">Crear Usuario</h2>
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary text-white">
                Ponga los datos del usuario
            </h2>
        </div>
        <div class="row tm-mb-90">
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12 text-center">
                <img src="https://www.equiposytalento.com/upload/talent_noticias/000/796/integracion_nuevos_empleados.jpg" alt="Imagen de Usuario">
           
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details">
                    <form method="post" asp-controller="AdministracionControlador" asp-action="CrearUsuario" enctype="multipart/form-data">


                        <!-- Campo de Correo-->
                        <div class="form-group">
                            <label for="nombre">Correo:</label>
                            <input  class="form-control" type="email" name="correo_usuario" required >
                        </div>

                        <!-- Campo de Contraseña-->
                        <div class="form-group">
                            <label for="nombre">Contraseña:</label>
                            <input class="form-control" type="password" name="contrasenia_usuario" required>
                        </div>

                        <!-- Campo de Nombre-->
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre_usuario" required>
                        </div>

                        <!-- Campo de Número de Teléfono -->
                        <div class="form-group">
                            <label for="telefono">Número de Teléfono:</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono_usuario" pattern="[0-9]{9}" required>
                        </div>

                        <!-- Campo de Acceso -->
                        <label for="campo_select" class="form-label">Selecciona el acceso del usuario:</label>
                       <select class="form-select"  name="id_acceso" required>
                                accesos=acciones.SeleccionarTodosAccesos();
                                @foreach(AccesoDTO s in Model.accesos){
                                    <option value="@s.IdAcceso1">@s.CodigoAcceso1</option>
                                 }
                        </select>

                        <!-- Campo de Subir Archivo (Imagen) -->
                        <div class="form-group">
                            <label for="imagen">Imagen de Perfil:</label>
                            <input type="file" class="form-control-file" name="archivo" accept="image/*">
                        </div>

                        <div class="mb-4 text-center">
                            <button class="btn btn-primary tm-btn-big" type="submit">Crear Usuario</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div> <!-- container-fluid, tm-container-content -->


    <script src="/js/plugins.js"></script>
    <script>
        $(window).on("load", function () {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>