@model proyectoCCharPropio.Controllers.RegistroControlador.ModeloHome
@{
    ViewData["Title"] = "Inicio de sesión - Registrar Usuario - Recupera contraseña";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="/img/logoPNG.png" type="image/jpg">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        var mensajeAlerta = '@TempData["MensajeAlerta"]';
        var tipo = '@TempData["Tipo"]';
        var icono = '@TempData["Icono"]';
        var titulo = '@TempData["Titulo"]';

        function mostrarAlertaPersonalizada() {
            if (icono == "check") {
                icono = '<i class="fas fa-check" style="font-size: 1em;"></i>';
            }
            else {
                icono = '<i class="fas fa-times" style="font-size: 1em;"></i>'
            }
            Swal.fire({
                icon: tipo,
                title: titulo,
                text: mensajeAlerta,
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK',
                iconHtml: icono,  // Ajusta el tamaño según sea necesario
            });
        }
    </script>
    <script>
        var mostrarAlerta = '@TempData["MostrarAlerta"]';
        console.log('Valor de mostrarAlerta:', mostrarAlerta);

        if (mostrarAlerta && mostrarAlerta.toLowerCase() === 'true') {
            console.log('Mostrando la alerta');
            mostrarAlertaPersonalizada();
            mostrarAlerta = "false";
        }
    </script>
    <!-- Page Loader-->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="logo" src="/img/logo.png" alt="Imagen de Usuario">
                <span class="text-white">Menu</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-1 active" aria-current="page" href="@Url.Action("home", "RegistroControlador")">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="@Url.Action("modificarPerfil", "RegistroControlador")">
                            <div class="user-info-container d-flex align-items-center">

                                @if (Model.Usuario.Foto_usuario != null && Model.Usuario.Foto_usuario.Length > 0)
                                {
                                    // Convertir el array de bytes a cadena Base64
                                    var imagenBase64 = Convert.ToBase64String(Model.Usuario.Foto_usuario);

                                    // Mostrar la imagen usando la cadena Base64 en la etiqueta <img>
                                    <img class="rounded-circle user-avatar" src="data:image/png;base64,@imagenBase64" alt="Imagen de Usuario">
                                }
                                else
                                {
                                // Mostrar una imagen predeterminada si el array de bytes es nulo o vacío
                                    <img class="rounded-circle user-avatar" src="https://definicion.de/wp-content/uploads/2019/07/perfil-de-usuario.png" alt="Imagen de Usuario">
                                }
                                
                                <span class="ml-2 text-white">Perfil</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/img/hero.jpg">
        <form class="d-flex tm-search-form">
            <div class="user-info-container2 d-flex align-items-center">
                @if (Model.Usuario.Foto_usuario != null && Model.Usuario.Foto_usuario.Length > 0)
                {
                    // Convertir el array de bytes a cadena Base64
                    var imagenBase64 = Convert.ToBase64String(Model.Usuario.Foto_usuario);

                    // Mostrar la imagen usando la cadena Base64 en la etiqueta <img>
                    <img class="rounded-circle user-avatar2" src="data:image/png;base64,@imagenBase64" alt="Imagen de Usuario">
                }
                else
                {
                // Mostrar una imagen predeterminada si el array de bytes es nulo o vacío
                    <img class="rounded-circle user-avatar2" src="https://definicion.de/wp-content/uploads/2019/07/perfil-de-usuario.png" alt="Imagen de Usuario">
                }
                <h2 class="text-white">Bienvenido @Model.Usuario.Nombre_usuario</h2>
            </div>
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary text-white">
                Seleccione Una Opcion
            </h2>
            <div class="col-6 d-flex justify-content-end align-items-center">
            </div>
        </div>
        <div class="row tm-mb-90 tm-gallery">
             @if (Model.acceso.CodigoAcceso1=="Usuario")
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                    <img src="/img/img-03.jpg" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Solicitudes</h2>
                            <a href="@Url.Action("ListaSolicitudes", "ControladorIncidencias")"></a>
                    </figcaption>
                </figure>
            </div>
            }
            @if (Model.acceso.CodigoAcceso1 == "Empleado" || Model.acceso.CodigoAcceso1 == "Administrador")
            {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="/img/img-04.jpg" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>Incidencias</h2>
                            <a href="photo-detail.html"></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="/img/img-05.jpg" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>Trabajos</h2>
                            <a href="photo-detail.html"></a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="/img/img-06.jpg" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>Tipos De Incidencias</h2>
                            <a href="photo-detail.html"></a>
                        </figcaption>
                    </figure>
                </div>
                @if (Model.acceso.CodigoAcceso1 == "Administrador")
                {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <figure class="effect-ming tm-video-item">
                    <img src="/img/img-01.jpg" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Gestion de Usuarios</h2>
                                <a href="@Url.Action("AdministracionUsuarios", "AdministracionControlador")"></a>
                    </figcaption>
                </figure>
             </div>
                }

            }

        </div> <!-- row -->

    </div> <!-- container-fluid, tm-container-content -->

    <script src="/js/plugins.js"></script>
    <script>
        $(window).on("load", function () {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>